:root{
    background-color: #292626;
}

*{
    margin: 0%;
    padding: 0%;
}

.header1{
    color: aliceblue;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
}

.image{
    text-align: right;
    float: right;
}

.about{
    color: aliceblue;
}

.field{
    color: aliceblue;
    padding-bottom: 15px;

}

#header2{
    color: aliceblue;
    padding: 20px;
}

.myform{
    padding: 20px;

}

.myform label{
    display: block;
}

.myform input[type="text"], .myform textarea, .myform input[type="email"], .myform option{
    padding: 8px;
    width: 70%;
}